header
  h1
    a(href='/') Boostquest
  
  ul
    li
      a(href='/leaderboard') Leaderboard
    li
      a(href='/about') About

    if signedIn
      li
        p
          a(href='./signout') Sign out
          span #{user.name}
    else
      li
        a(href='/signin') Sign in with GitHub
