<h1>DAY 1</h1>
<h2>프로메테우스식 탐험 준비</h2>

<p>부스트 마운틴<span class="emoji">⛰️</span>의 평온했던 캠프에 갑자기 이상한 일이 발생했습니다.
산 건너편 쪽에서 엄청난 소리와 함께 거대한 존재가 나타난 것 같습니다!
당신은 그곳으로 떠나기 위해 탐험을 시작하려고 합니다.
하지만 전술(J)와 계략(K)가 가득한 이 땅, JK 야생<span class="emoji">🌳</span>에서는 맨손으로 출발해 발걸음을 옮기는 것은 위험합니다.
그전에 부스트 마운틴 곳곳에 흩어져있는 준비물을 모아가야 합니다.</p>

<p>준비물을 획득하기 위해, 매일 두 개의 퍼즐씩 해결해야 합니다.
두 번째 퍼즐은 첫 번째 퍼즐을 해결한 뒤 열립니다. 그럼 행운을 빕니다!</p>

<p>먼저, 미리 조사한 지형 지도<span class="emoji">🗺️</span>로부터 안전한 길을 여러 갈래 추려냈습니다.
모든 길은 울퉁불퉁한 지형을 따라 나있었습니다.
그러한 정보를 표현하기 위해, 하나의 길은 높낮이를 표현하는 연속된 숫자로 나타냅니다.
그 높낮이는 <code>1</code>부터 <code>9</code>까지의 한 자리 숫자로 주어집니다.
예를 들어, 가장 낮은 높이인 <code>1</code>에서 시작해 차근차근 올라가서 <code>4</code>의 높이로 끝나는 길은 다음처럼 표시됩니다.</p>

<pre><code>1234</code></pre>

<p>다음은 높이 <code>3</code>에서 높이 <code>1</code>로 내려갔다가 다시 같은 높이 <code>3</code>으로 올라가는 길입니다.</p>

<pre><code>32123</code></pre>

<p>당신은 어떤 길이 가장 좋은 길인지 알고 싶습니다.
그렇게 하기 위해, 길의 <em>난이도</em>(Difficulty)를 계산해보려고 합니다.
길의 난이도란, 길의 높낮이가 얼마나 변하느냐와 관련된 값입니다.</p>

<p> 길의 난이도를 계산하려면, 두 개의 연속된 높낮이를 차례차례 비교하가며 난이도를 <code>0</code>부터 더해나갑니다.
길의 난이도 계산 공식은 다음과 같습니다.
길이 높아질 때, 난이도에 <code>3</code>을 더합니다.
길이 낮아질 때, <code>2</code>를 더합니다.
높낮이가 달라지지 않으면, <code>1</code>을 더합니다.</p>

<p>예를 들어, 길의 높낮이가 다음과 같이 주어졌다고 해봅시다.</p>

<pre><code>1221</code></pre>

<p>길의 난이도를 계산하기 위해, 처음에는 첫 번째 <code>1</code>과 두 번째 <code>2</code>를 비교합니다.
높이가 올라갔으므로 <code>3</code>을 더합니다.
그 다음, 두 번째 <code>2</code>와 세 번째 <code>2</code>를 비교합니다.
높이가 그대로이므로 <code>1</code>을 더합니다.
마지막으로, 세 번째 <code>2</code>와 네 번째 <code>1</code>을 비교합니다.
높이가 낮아졌으므로 <code>2</code>를 더합니다.
이렇게 해서, 이 길의 난이도는 <code>3+1+2</code>가 되어 <code>6</code>으로 계산됩니다.
</p>

<p>당신은 가장 쉬운 난이도의 길을 선택하려고 합니다.
예를 들어, 다음과 같이 두 가지의 길이 주어져서 난이도를 계산했다고 해봅시다.</p>

<pre><code>234 -> 6
233 -> 4</code></pre>

<p>이 경우, 둘 중에 <code>233</code>이 더 낮은 난이도를 가지므로, 그 길을 선택하려고 합니다.</p>

<p>그런데, 부스트 마운틴에서 길의 이름이 정해지는 규칙을 알고 계신가요?
각 높낮이를 전부 더한 숫자가 길의 이름이 됩니다.
예를 들어, <code>233</code>의 경우, <code>2 + 3 + 3</code>를 계산해보면 됩니다.
즉, 이 길은 <code>8</code>번 길이 됩니다.

<p>당신이 추려냈던 길이 입력 파일로 주어집니다.
한 줄에 하나의 길에 대한 높낮이가 기록되어 있습니다.
이 중에 난이도가 가장 낮은 길이 하나 있다고 합니다. 그 길은 몇 번 길인가요?</p>
