<h2>두 번째 파트</h2>

<p>길의 특징을 파악하는 방법으로 이것만 있는 것은 아닙니다.
길이 얼마나 고른지를 측정하는 <em>평탄도</em>(Evenness)를 계산해볼 수 있습니다.
이 값은 같은 높낮이가 연달아 나타난 횟수로 계산합니다.
예를 들어, <code>112333</code>과 같은 길이 주어졌다고 해봅시다.
</p>

<pre><code>112333
 ^  ^^
 |  ||
 1  23</code></pre>

<p>첫 번째 <code>1</code>이 나온 직후, 두 번째에 반복이 발생합니다.
이후, 네 번째 높이인 <code>3</code>에 대해서, 다섯 번째와 마지막에서 같은 높이가 반복됩니다.
반복된 높이가 세 번 나타나므로, 이 길의 평탄도는 <code>3</code>으로 계산됩니다.</p>

<p>다음은 다양한 길에 대한 예시입니다.</p>
<pre><code>11111 -> 4 (1이 두 번째부터 네 번 반복했습니다.)
11211 -> 2 (1의 반복이 두 번 있었습니다.)
12121 -> 0 (어떤 반복도 없었습니다.)</code></pre>

<p>당신은 방금 선택한 길의 평탄도를 계산해보고 싶습니다. 그 값은 얼마인가요?</p>
