<h2>두 번째 파트</h2>

<p>이제 당신은 <em>부스트 작업 증명</em>을 시도하려고 합니다.
다른 사람이 먼저 그 작업을 해내기 전에 빨리 완수할 수 있을까요?</p>

<p><em>부스트 작업 증명</em>(Proof of Boost Work)은 다음과 같이 이루어집니다.
주어진 문자열 앞에 <em>넌스</em>(Nonce)라고 하는 임의의 문자열을 붙여 부스트 해시를 구합니다.
만약 그 부스트 해시가 <code>bst</code>로 시작하게 된다면, 그 넌스로 작업 증명을 해낸 것이 됩니다.</p>

<p>넌스는 1부터 시작해 하나씩 증가시켜 갑니다.
예를 들어, 문자열 <code>abc</code>가 주어졌을 때, 넌스를 <code>1</code>로 시도 할 수 있습니다. 이때, 문자열 <code>1abc</code>의 부스트 해시는 <code>ht0rromu</code>입니다.
이 결과는 <code>bst</code>로 시작하지 않으므로, 다음 넌스 <code>2</code>를 시도합니다.
이런식으로 다음과 같은 결과를 얻을 수 있습니다.</p>

<pre><code>1abc -> ht0rromu
2abc -> tf3fdzjj
3abc -> 4xuvbqf4
4abc -> kjxit1cu
5abc -> v1z2gf5j
...
107195abc -> bstdxh52
</code></pre>

<p>즉 넌스를 <code>107195</code>로 했을 때 부스트 해시 값이 <code>bst</code>로 시작하게 되므로, 이 넌스 값으로 부스트 작업 증명을 해낼 수 있습니다.</p>

<p>당신에게 부스트 작업 증명을 시작할 문자열이 입력 파일로 주어집니다. 넌스를 <code>1</code>부터 시작해 하나씩 증가시켜갈 때, 그 작업을 해내는 최초의 넌스는 무엇인가요?</p>

