<p>잠시후 펑하고 터지는 소리가 들렸습니다!
연기가 걷히자 눈 앞에 작은 고양이<span class="emoji">🐈</span>가 나타났습니다.
글쎄요... 여기서 무엇을 더 할 수 있을까요?
당신은 그 고양이를 들고 원래 있던 캠프로 돌아가기로 했습니다.
이제 다시 평화로운 캠프의 일상을 되찾을 수 있겠네요!</p>

<p>그런데... 알고 계셨나요?
갑자기 산에 거대한 존재가 나타났던 이유는, 힘이 세지고 싶었던 고양이의 소원을 들어준 램프의 지니 때문이었다고 하네요.</p>
