<!DOCTYPE html>
<html>
  <head>
    <%- include('includes/head', { pageStylesheet: 'day' }); %>
  </head>
  <body>
    <%- include('includes/header'); %>

    <main id="layout-day-page">
      <%- include('../challenges/description/' + day + 1); %>
      <%- include('../challenges/description/' + day + 2); %>
      <%
        const shoesEquipped = firstDaySolved;
        const bladeEquipped = secondDaySolved;
        const elixirEquipped = thirdDaySolved;
        const fullyEquipped = [shoesEquipped, bladeEquipped, elixirEquipped]
          .every(item => item === true);

        if (fullyEquipped) {
          %>
          <p>당신은 모든 준비가 되었습니다.
          눈앞의 거대한 상대에게 신비한 보랏빛의 물을 던지려고 합니다.</p>
          <p>필요한 일을 행동으로 옮기기 위해 <a href="/answer/4">여기</a>를 누르세요.</p>
          <%
        } else {
          %>
          <p>그런데 당신은 아직 준비되지 않았습니다.</p>
            <% if (!shoesEquipped) { %>
            <p>거친 산길을 제대로 뛰어다닐 수 있는 부스트 슈즈<span class="emoji">👟</span>가 필요합니다.</p>
            <% } %>
            <% if (!bladeEquipped) { %>
            <p>무성한 풀숲을 돌아다닐 때 방해물을 벨 수 있는 부스트 블레이드<span class="emoji">🗡️</span>가 필요합니다.</p>
            <% } %>
            <% if (!elixirEquipped) { %>
            <p>거대한 상대에게 맞서기 위한 부스트 엘릭서<span class="emoji">🧪</span>를 필요합니다.</p>
            <% } %>
          <p><a href='/'>이전</a>으로 돌아가서 다른 문제를 시도해볼 수 있습니다.</p>
          <%
        }
      %>
    </main>
  </body>
</html>
