<!DOCTYPE html>
<html>
  <head>
    <%- include('includes/head', { pageStylesheet: 'root' }); %>
  </head>
  <body>
    <%- include('includes/header'); %>
    
    <main id="layout-root-page">
      <h1 id="layout-root-page-heading">Days</h1>

      <div id="layout-root-page-left">
        <img alt="campfire image" id="campfire-image" src="/images/campfire.gif">
      </div>

      <div id="layout-root-page-right">
        <ul id="layout-root-page-days">
          <li class="day-item">
            <h1 class="open-day"><a href='/day/1'>Day 1</a></h1>
            <p class="status"><span class="clear">clear</span></p>
          </li>
          <li class="day-item">
            <h1 class="open-day"><a href='/day/2'>Day 2</a></h1>
            <p class="status"><span class="remaining-time">23:59:59</span></p>
          </li>
          <li class="day-item">
            <h1 class="closed-day">Day 3</h1>
          </li>
          <li class="day-item">
            <h1 class="closed-day">Day 4</h1>
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
