<!DOCTYPE html>
<html>
  <head>
    <%- include('includes/head', { pageStylesheet: 'root' }); %>
  </head>
  <body>
    <%- include('includes/header'); %>
    
    <main id="layout-root-page">
      <h1 id="layout-root-page-heading">Days</h1>

      <div id="layout-root-page-left">
        <img alt="campfire image" id="campfire-image" src="/images/campfire.gif">
        <%
          if (problemsSolved[3]) {
            %>
            <img alt="campfire cat" id="campfire-cat-image" src="/images/boostcat.png">
            <%
          }
        %>
      </div>

      <div id="layout-root-page-right">
        <ul id="layout-root-page-days">
          <%
            const numOfDays = 4;
            for (let i = 0; i < numOfDays; ++i) {
              const day = i+1;
              %>
              <li class="day-item">
                <h1 class="open-day"><a href='/day/<%= day %>'>Day <%= day %></a></h1>
                <% if (problemsSolved[i]) { %>
                  <p class="status"><span class="clear">clear</span></p>
                <% } %>
              </li>
              <%
            }
          %>
        </ul>
      </div>
    </main>
  </body>
</html>
