<%- include('includes/prebody'); %>
<%- include('includes/header'); %>
<h1>Sign-in</h1>
<p>
  <a href='https://github.com/login/oauth/authorize?client_id=<%= clientId %>'>Sign in with GitHub</a>
</p>
<%- include('includes/postbody'); %>
