<!DOCTYPE html>
<html>
  <head>
    <%- include('includes/head', { pageStylesheet: 'day' }); %>
  </head>
  <body>
    <%- include('includes/header'); %>

    <h1>답 제출 결과</h1>
    <% if (blocked) { %>
      1분 뒤에 다시 시도하세요.
    <% } else if (correctAnswer) { %>
      답이 맞았습니다!
    <% } else { %>
      답이 틀렸습니다.
    <% } %>
    돌아가기
  </body>
</html>
