@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Color+Emoji&family=Silkscreen:wght@400;700&display=swap');

$font-family-display: 'Silkscreen', cursive;
$font-family-regular: 'Nanum Gothic Coding', monospace;
$font-family-emoji: 'Noto Color Emoji', sans-serif;

$letter-spacing-bold-display: -0.125ex;
$letter-spacing-regular-display: -0.0625ex;
