extends layouts/base.pug

block main
  h1 Days

  ul
    li
      a(href='/day/1') Day 1
    li
      a(href='/day/2') Day 2
    li
      a(href='/day/3') Day 3
    li
      a(href='/day/4') Day 4
    li
      a(href='/day/5') Day 5
