extends layouts/base.pug

block main
  h1 Leaderboard

  table
    tr
      td 1
      td Day 1
      td 01:23:45
      td Foo
    tr
      td 2
      td Day 2
      td 01:23:46
      td Bar
    tr
      td 3
      td Day 3
      td 01:23:47
      td Baz
