<header id="layout-header">
  <div id="layout-header-heading">
    <h1>
      <a href='/'>Boostquest</a>
    </h1>
  </div>

  <nav id="layout-header-menu">
    <li>
      <a href='/leaderboard'>Leaderboard</a>
    </li>
    <li>
      <a href='/about'>About</a>
    </li>
    <li>
      <p>
        <% if (signedIn) { %>
          <a href='/signout'>Sign out</a>
        <% } else { %>
          <a href='/signin'>Sign In</a>
        <% } %>
      </p>
    </li>
  </nav>
</header>
